.container {
  position: relative;
  height: 100vh;
  overflow: scroll;
}

.container svg, .container div {
  position: absolute;
}

.container svg {
  height: 100%;
}

.detail-link {
  /* text-decoration: underline; */
  cursor: pointer;
}

.detail {
  background-color: white;
  border: solid 1px black;
  padding: 15px 15px;
  width: 300px;
}

.detail h1 {
  font-size: 20px;
  margin: 0 0 10px;
}

.detail-timeline-link {
  display: block;
  margin-top: 10px;
}
