.container {
  position: relative;
  height: 100vh;
  overflow: scroll;
}

.container svg, .container div {
  position: absolute;
}

.container svg {
  height: 100%;
}

.detail-link {
  /* text-decoration: underline; */
  cursor: pointer;
}

.detail {
  background-color: white;
  border: solid 1px black;
  padding: 4px 10px;
  pointer-events: none;
  min-width: 300px;
}
